<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JGS.Web.MSTriggerProvider.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <JGS.Web.MSTriggerProvider.Properties.Settings>
            <setting name="JGS_Web_MSTriggerProvider_MSW_MicrosoftWrapper"
                serializeAs="String">
                <value>http://jgswebservicesstg/MicrosoftWrapper.asmx</value>
            </setting>
        </JGS.Web.MSTriggerProvider.Properties.Settings>
    </applicationSettings>
</configuration>