<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JGS.Web.DTVTriggerProviders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <JGS.Web.DTVTriggerProviders.Properties.Settings>
            <setting name="JGS_Web_DTVTriggerProviders_Printing_JGSPrintService"
                serializeAs="String">
                <value>http://jgswebservicesstg/JGSPrintService.asmx</value>
            </setting>
            <setting name="JGS_Web_DTVTriggerProviders_QA_QueryAdapterWrapper"
                serializeAs="String">
                <value>http://jgswebservicesstg/QueryAdapterWrapper.asmx</value>
            </setting>
            <setting name="JGS_Web_DTVTriggerProviders_CamId_CamIdValidationService"
                serializeAs="String">
                <value>http://jgswebservicesstg/CamIdValidationService.asmx</value>
            </setting>
            <setting name="JGS_Web_DTVTriggerProviders_ChangePart_ChangePartWrapper"
                serializeAs="String">
                <value>http://jgswebservicesstg/ChangePartWrapper.asmx</value>
            </setting>
        </JGS.Web.DTVTriggerProviders.Properties.Settings>
    </applicationSettings>
</configuration>